# WRITTEN REPORT

# SUMMARY:
  This script is used to analyse the school data of a local goverment area to helpp the school board and the mayor to make  decisions on budgets and priorities. The data are summarised as:
  (1) for the whole local goverment area; then by 
  (2) schools; and their 
  (3) students performance based on their scores on maths, reading, and overall - per school and per year level;
  (4) spenditures; 
  (5) school size; and 
  (6) school type

# TRENDS:
  * One of the most apparent trends is we could see that the performance of the students are affected by the school size. As seen from the **size_summary** table, all the passing scores and the passing rates decrease as the school size becomes larger. A similar observation can be seen in the school type as well. Indpendent schools seem to have higher performing students than the ones in Goverment schools, which again can be attributed to the student population. **per_school_summary** table shows that Goverment schools have higher number of total students as compared to Independent schools.
  
  
  * In terms of school spending, **spending_summary** table shows that the most optimal budget allocated per student is about S585-630 per student, spending more or less than this range actually shows a decrease in the students performance. Looking at the **per_school_summary** table, we can see that the Independent schools' budgets per student are well within this range. At the same time, it is also worth noting that the Government schools have higher budget per student than the Independent schools.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Local Government Area Summary
* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Local Government Area Summary

total_school = school_data_complete['School ID'].value_counts().count()

total_student = school_data_complete['Student ID'].value_counts().count()

total_school_budget = school_data_complete['budget'].unique().sum()

total_ave_maths = school_data_complete['maths_score'].mean()

total_ave_reading = school_data_complete['reading_score'].mean()

pass_maths = school_data_complete.loc[(school_data_complete["maths_score"] >= 50)]
total_pass_maths = pass_maths.value_counts().count()
rate_pass_maths = total_pass_maths/total_student

pass_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 50)]
total_pass_reading = pass_reading.value_counts().count()
rate_pass_reading = total_pass_reading/total_student

pass_overall = school_data_complete.loc[(school_data_complete["maths_score"] >= 50) 
                                        & (school_data_complete["reading_score"] >= 50)]
total_pass_overall = pass_overall.value_counts().count()
rate_pass_overall = total_pass_overall/total_student

area_summary = pd.DataFrame({"Total Schools":[total_school], "Total Students":[total_student],
                                     "Total Budget":[total_school_budget], "Average Maths Score":[total_ave_maths],
                                     "Average Reading Score":[total_ave_reading], "% Passing Maths":[rate_pass_maths],
                                     "% Passing Reading":[rate_pass_reading] ,"% Overall Passing":[rate_pass_overall]})

area_summary["Total Students"] = area_summary["Total Students"].astype(float).map("{:,.0f}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].astype(float).map("${:,.2f}".format)
area_summary["Average Maths Score"] = area_summary["Average Maths Score"].astype(float).map("{:,.2f}".format)
area_summary["Average Reading Score"] = area_summary["Average Reading Score"].astype(float).map("{:,.2f}".format)
area_summary["% Passing Maths"] = area_summary["% Passing Maths"].astype(float).map("{:,.2%}".format)
area_summary["% Passing Reading"] = area_summary["% Passing Reading"].astype(float).map("{:,.2%}".format)
area_summary["% Overall Passing"] = area_summary["% Overall Passing"].astype(float).map("{:,.2%}".format)

area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.34,69.98,86.08%,84.43%,72.81%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
#School Summary

pass_school_maths = school_data_complete.loc[school_data_complete["maths_score"] >= 50]
pass_school_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 50]
pass_school_overall = school_data_complete.loc[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)]

grouped_maths = pass_school_maths.groupby(['school_name','type'])
reduced_maths = grouped_maths[["student_name"]].count()
reduced_maths

grouped_reading = pass_school_reading.groupby(['school_name','type'])
reduced_reading = grouped_reading[["student_name"]].count()
reduced_reading

grouped_overall = pass_school_overall.groupby(['school_name','type'])
reduced_overall = grouped_overall[["student_name"]].count()
reduced_overall

merge_mr = pd.merge(reduced_maths, reduced_reading, on=["school_name","type"])
merged_grades = pd.merge(merge_mr, reduced_overall, on=["school_name","type"])
merged_grades = merged_grades.rename(columns={"student_name_x":"passed_maths","student_name_y":"passed_reading","student_name":"passed_all"})
merged_grades

grouped_school_data = school_data_complete.groupby(['school_name','type'])
grouped_school_data.head()

scores_school_data = grouped_school_data[["reading_score","maths_score"]].sum()
scores_school_data

count_school_data = grouped_school_data["Student ID"].count()
count_school_data

budget_school_data = grouped_school_data["budget"].unique()
budget_school_data

merge_school_data = pd.merge(scores_school_data, count_school_data, on=["school_name","type"])
merged_school_data = pd.merge(merge_school_data,budget_school_data, on=["school_name","type"])

merged_school_data = merged_school_data.rename(columns={"Student ID":"Total Students","budget":"Total School Budget"})

merged_school_data["Per Student Budget"] = merged_school_data["Total School Budget"]/merged_school_data["Total Students"]
merged_school_data["Average Maths Score"] = merged_school_data["maths_score"]/merged_school_data["Total Students"]
merged_school_data["Average Reading Score"] = merged_school_data["reading_score"]/merged_school_data["Total Students"]

merged_grade_data = pd.merge(merged_school_data, merged_grades, on=["school_name","type"])

merged_grade_data["% Passing Maths"] = merged_grade_data["passed_maths"]/merged_grade_data["Total Students"]
merged_grade_data["% Passing Reading"] = merged_grade_data["passed_reading"]/merged_grade_data["Total Students"]
merged_grade_data["% Overall Passing"] = merged_grade_data["passed_all"]/merged_grade_data["Total Students"]

merged_grade_data = merged_grade_data.reset_index(drop=False)
merged_grade_data = merged_grade_data.rename(columns={"school_name":"School Name","type":"School Type"})

per_school_summary = pd.DataFrame(merged_grade_data[["School Name","School Type","Total Students","Total School Budget","Per Student Budget","Average Maths Score","Average Reading Score","% Passing Maths","% Passing Reading","% Overall Passing"]]).set_index("School Name")
per_school_summary


per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].astype(float).map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].astype(float).map("${:,.2f}".format)
per_school_summary["Average Maths Score"] = per_school_summary["Average Maths Score"].astype(float).map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].astype(float).map("{:,.2f}".format)
per_school_summary["% Passing Maths"] = per_school_summary["% Passing Maths"].astype(float).map("{:,.2%}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].astype(float).map("{:,.2%}".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].astype(float).map("{:,.2%}".format)

per_school_summary.index.name = None
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.35,71.01,91.64%,87.38%,80.08%
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.66,71.36,90.85%,89.07%,80.79%
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.70,69.08,81.65%,82.81%,67.65%
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.09,69.57,82.44%,82.22%,67.47%
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.79,71.25,91.21%,88.49%,81.34%
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.87,69.19,80.95%,81.88%,66.36%
Holden High School,Independent,427,"$248,087.00",$581.00,72.58,71.66,89.93%,88.52%,78.92%
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.94,68.91,81.69%,81.45%,66.71%
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.84,69.04,82.06%,81.98%,67.19%
Pena High School,Independent,962,"$585,858.00",$609.00,72.09,71.61,91.68%,86.59%,79.21%
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.05,70.94,90.80%,87.40%,79.42%
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.03,70.26,91.54%,86.71%,78.88%
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.58,69.77,83.85%,82.63%,69.48%
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.17,68.88,82.79%,81.30%,67.46%
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.05,70.97,91.78%,86.67%,79.72%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
#Top Performing Schools (By % Overall Passing)

top_schools = per_school_summary.sort_values("% Overall Passing",ascending=False)
top_schools.index.name = None
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.79,71.25,91.21%,88.49%,81.34%
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.66,71.36,90.85%,89.07%,80.79%
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.35,71.01,91.64%,87.38%,80.08%
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.05,70.97,91.78%,86.67%,79.72%
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.05,70.94,90.80%,87.40%,79.42%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
#Bottom Performing Schools (By % Overall Passing)

bottom_schools = per_school_summary.sort_values("% Overall Passing",ascending=True)
bottom_schools.index.name = None
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.87,69.19,80.95%,81.88%,66.36%
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.94,68.91,81.69%,81.45%,66.71%
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.84,69.04,82.06%,81.98%,67.19%
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.17,68.88,82.79%,81.30%,67.46%
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.09,69.57,82.44%,82.22%,67.47%

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#Maths Scores by Year

y9_maths = school_data_complete.loc[school_data_complete["year"] == 9,:].groupby(['school_name'])[["school_name","maths_score"]].mean()
y9_maths = y9_maths.rename(columns={"maths_score":"Year 9"})
y10_maths = school_data_complete.loc[school_data_complete["year"] == 10,:].groupby(['school_name'])[["school_name","maths_score"]].mean()
y10_maths = y10_maths.rename(columns={"maths_score":"Year 10"})
y11_maths = school_data_complete.loc[school_data_complete["year"] == 11,:].groupby(['school_name'])[["school_name","maths_score"]].mean()
y11_maths = y11_maths.rename(columns={"maths_score":"Year 11"})
y12_maths = school_data_complete.loc[school_data_complete["year"] == 12,:].groupby(['school_name'])[["school_name","maths_score"]].mean()
y12_maths = y12_maths.rename(columns={"maths_score":"Year 12"})

maths_scores_by_year = pd.concat([y9_maths,y10_maths,y11_maths,y12_maths],axis=1)
maths_scores_by_year.index.name = None

maths_scores_by_year["Year 9"] = maths_scores_by_year["Year 9"].astype(float).map("{:,.2f}".format)
maths_scores_by_year["Year 10"] = maths_scores_by_year["Year 10"].astype(float).map("{:,.2f}".format)
maths_scores_by_year["Year 11"] = maths_scores_by_year["Year 11"].astype(float).map("{:,.2f}".format)
maths_scores_by_year["Year 12"] = maths_scores_by_year["Year 12"].astype(float).map("{:,.2f}".format)

maths_scores_by_year

C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\3906261324.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  y9_maths = school_data_complete.loc[school_data_complete["year"] == 9,:].groupby(['school_name'])[["school_name","maths_score"]].mean()
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\3906261324.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  y10_maths = school_data_complete.loc[school_data_complete["year"] == 10,:].groupby(['school_name'])[["school_name","maths_score"]].mean()
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\3906261324.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  y11_maths = school_data_complete.loc[school_data_complete["year"] == 11,:].groupby(['school_name'])[["school_name","maths_score"]].mean()
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\3906261324.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  y12_maths = school_data_complete.loc[school_data_complete["year"] == 12,:].groupby(['school_name'])[["school_name","maths_score"]].mean()

                      Year 9 Year 10 Year 11 Year 12
Bailey High School     72.49   71.90   72.37   72.68
Cabrera High School    72.32   72.44   71.01   70.60
Figueroa High School   68.48   68.33   68.81   69.33
Ford High School       69.02   69.39   69.25   68.62
Griffin High School    72.79   71.09   71.69   71.47
Hernandez High School  68.59   68.87   69.15   68.99
Holden High School     70.54   75.11   71.64   73.41
Huang High School      69.08   68.53   69.43   68.64
Johnson High School    69.47   67.99   68.64   69.29
Pena High School       72.00   72.40   72.52   71.19
Rodriguez High School  71.94   71.78   72.36   72.15
Shelton High School    72.93   72.51   70.10   72.33
Thomas High School     69.23   70.06   69.66   69.37
Wilson High School     69.21   69.46   68.38   69.79
Wright High School     71.74   72.18   73.28   70.85

## Reading Score by Year

* Perform the same operations as above for reading scores

In [7]:
#Reading Score by Year

y9_reading = school_data_complete.loc[school_data_complete["year"] == 9,:].groupby(['school_name'])[["school_name","reading_score"]].mean()
y9_reading = y9_reading.rename(columns={"reading_score":"Year 9"})
y10_reading = school_data_complete.loc[school_data_complete["year"] == 10,:].groupby(['school_name'])[["school_name","reading_score"]].mean()
y10_reading = y10_reading.rename(columns={"reading_score":"Year 10"})
y11_reading = school_data_complete.loc[school_data_complete["year"] == 11,:].groupby(['school_name'])[["school_name","reading_score"]].mean()
y11_reading = y11_reading.rename(columns={"reading_score":"Year 11"})
y12_reading = school_data_complete.loc[school_data_complete["year"] == 12,:].groupby(['school_name'])[["school_name","reading_score"]].mean()
y12_reading = y12_reading.rename(columns={"reading_score":"Year 12"})

reading_scores_by_year = pd.concat([y9_reading,y10_reading,y11_reading,y12_reading],axis=1)
reading_scores_by_year.index.name = None

reading_scores_by_year["Year 9"] = reading_scores_by_year["Year 9"].astype(float).map("{:,.2f}".format)
reading_scores_by_year["Year 10"] = reading_scores_by_year["Year 10"].astype(float).map("{:,.2f}".format)
reading_scores_by_year["Year 11"] = reading_scores_by_year["Year 11"].astype(float).map("{:,.2f}".format)
reading_scores_by_year["Year 12"] = reading_scores_by_year["Year 12"].astype(float).map("{:,.2f}".format)

reading_scores_by_year

C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\4272976719.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  y9_reading = school_data_complete.loc[school_data_complete["year"] == 9,:].groupby(['school_name'])[["school_name","reading_score"]].mean()
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\4272976719.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  y10_reading = school_data_complete.loc[school_data_complete["year"] == 10,:].groupby(['school_name'])[["school_name","reading_score"]].mean()
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\4272976719.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  y11_reading = school_data_complete.loc[school_data_complete["year"] == 11,:].groupby(['school_name'])[["school_name","reading_score"]].mean()
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\4272976719.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  y12_reading = school_data_complete.loc[school_data_complete["year"] == 12,:].groupby(['school_name'])[["school_name","reading_score"]].mean()

                      Year 9 Year 10 Year 11 Year 12
Bailey High School     70.90   70.85   70.32   72.20
Cabrera High School    71.17   71.33   71.20   71.86
Figueroa High School   70.26   67.68   69.15   69.08
Ford High School       69.62   68.99   70.74   68.85
Griffin High School    72.03   70.75   72.39   69.43
Hernandez High School  68.48   70.62   68.42   69.24
Holden High School     71.60   71.10   73.31   70.48
Huang High School      68.67   69.52   68.74   68.67
Johnson High School    68.72   69.30   69.97   67.99
Pena High School       70.95   72.32   71.70   71.51
Rodriguez High School  70.90   70.14   71.42   71.41
Shelton High School    70.72   69.88   71.15   69.07
Thomas High School     69.67   69.74   70.75   68.73
Wilson High School     68.68   68.41   68.80   69.89
Wright High School     71.82   71.39   70.48   69.82

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
#Scores by School Spending

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

merged_grade_data["Per Student Budget"] = merged_grade_data["Per Student Budget"].astype('int64')
merged_grade_data["Spending Ranges (Per Student)"] = pd.cut(merged_grade_data['Per Student Budget'], bins = spending_bins, labels = labels)

spending_maths_scores = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
spending_reading_scores = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

spending_summary1 = pd.merge(spending_maths_scores, spending_reading_scores, how="left",on="Spending Ranges (Per Student)")
spending_summary2 = pd.merge(spending_summary1, spending_passing_maths, how="left",on="Spending Ranges (Per Student)")
spending_summary3 = pd.merge(spending_summary2, spending_passing_reading, how="left",on="Spending Ranges (Per Student)")
spending_summary = pd.merge(spending_summary3, overall_passing_spending, how="left",on="Spending Ranges (Per Student)")

spending_summary["Average Maths Score"] = spending_summary["Average Maths Score"].astype(float).map("{:,.2f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].astype(float).map("{:,.2f}".format)
spending_summary["% Passing Maths"] = spending_summary["% Passing Maths"].astype(float).map("{:,.2%}".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].astype(float).map("{:,.2%}".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].astype(float).map("{:,.2%}".format)

spending_summary

# spend_school_summary = merged_grade_data.groupby(["Spending Ranges (Per Student)"])
# spending_summary = spend_school_summary[["Average Maths Score","Average Reading Score","% Passing Maths","% Passing Reading","% Overall Passing"]].mean()

C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\150811605.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_maths_scores = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\150811605.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_reading_scores = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\150811605.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_passing_maths = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\150811605.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_passing_reading = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
C:\Users\Pransiya\AppData\Local\Temp\ipykernel_28572\150811605.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  overall_passing_spending = merged_grade_data.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84%,86.39%,76.72%
$585-630,72.07,71.03,91.52%,87.29%,79.88%
$630-645,69.85,69.84,84.69%,83.76%,71.00%
$645-680,68.88,69.05,81.57%,81.77%,66.76%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
#Scores by School Size

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

merged_grade_data["School Size"] = pd.cut(merged_grade_data['Total Students'], bins = size_bins, labels = labels)

size_school_summary = merged_grade_data.groupby(["School Size"])
size_summary = size_school_summary[["Average Maths Score","Average Reading Score","% Passing Maths","% Passing Reading","% Overall Passing"]].mean()

size_summary["Average Maths Score"] = size_summary["Average Maths Score"].astype(float).map("{:,.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].astype(float).map("{:,.2f}".format)
size_summary["% Passing Maths"] = size_summary["% Passing Maths"].astype(float).map("{:,.2%}".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].astype(float).map("{:,.2%}".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].astype(float).map("{:,.2%}".format)

size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.34,71.64,90.81%,87.56%,79.07%
Medium (1000-2000),71.42,70.72,89.85%,86.71%,78.04%
Large (2000-5000),69.75,69.58,84.25%,83.30%,70.29%

## Scores by School Type

* Perform the same operations as above, based on school type

In [10]:
#Scores by School Type

type_school_summary = merged_grade_data.groupby(["School Type"])
type_summary = type_school_summary[["Average Maths Score","Average Reading Score","% Passing Maths","% Passing Reading","% Overall Passing"]].mean()

type_summary["Average Maths Score"] = type_summary["Average Maths Score"].astype(float).map("{:,.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].astype(float).map("{:,.2f}".format)
type_summary["% Passing Maths"] = type_summary["% Passing Maths"].astype(float).map("{:,.2%}".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].astype(float).map("{:,.2%}".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].astype(float).map("{:,.2%}".format)

type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.83,69.68,84.46%,83.59%,70.70%
Independent,71.37,70.72,89.20%,86.25%,76.97%